[submodule "theia"]
	path = theia
	url = https://github.com/theia-ide/theia.git
[submodule "sprotty"]
	path = sprotty
	url = https://github.com/theia-ide/sprotty.git
[submodule "yang-sprotty"]
	path = yang-sprotty
	url = https://github.com/yang-tools/yang-sprotty.git
[submodule "theia-sprotty"]
	path = theia-sprotty
	url = https://github.com/theia-ide/theia-sprotty.git
