.idea
.browser_modules
node_modules
build
bin
lib
.DS_Store
yangster-app/webpack.config.js
src-gen
lerna-debug.log
yangster-app-electron/webpack.config.js
yang-language-server.zip
**/*.log
!patch/**/lib